[tool.ruff]
line-length = 120
exclude = [
    ".git",
    "__pycache__",
    "*/migrations/*",
    "*/venv/*",
    "*/env/*",
    ".venv",
    "build",
    "dist",
]

[tool.ruff.lint]
select = ["E", "F", "W", "I"]
ignore = ["E501", "W503", "E203"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
